{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}
{% load staticfiles %}

{% block title %}
    {% trans "Checkout" %} | {{ block.super }}
{% endblock %}

{% block main-menu %}
    {% include 'checkout/nav.html' %}
{% endblock %}

{% block content %}
    <section class="container">

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <div class="row shipping-payment">
            
            <div class="sub-header text-center" style="padding-bottom:25px;">
                    <h2 class="text-uppercase">
                            {% block head_title %}
                        {% trans "Delivery" %}
                        {% endblock %}
                    </h2>
                </div>
                
                        {# You will almost certainly want to override this block to provide a payment summary #}
        {% block payment_method %}
        {% endblock payment_method %}
        {% block shipping_address %}
            <div class="login-page">
                {% if shipping_address %}
                    <div class="delivery-form">
                        {% block shipping_address_actions %}
                            <a href="{% url 'checkout:shipping-address' %}" class="pull-right">
                                {% trans "Change" %}
                            </a>
                        {% endblock %}
                        <h3>{% trans "Address" %}</h3>
                        <address>
                            {% for field in shipping_address.active_address_fields %}
                                {{ field }}<br/>
                            {% endfor %}
                        </address>

                        {% if shipping_address.phone_number %}
                            <h4>{% trans "Contact" %}</h4>
                            <p>
                                {% trans "Phone" %}: {{ shipping_address.phone_number }}
                                {% if guest_email %}
                                    <br/>{% trans "Email" %}: {{ guest_email }}
                                {% endif %}
                            </p>
                        {% endif %}

                        {% if shipping_address.notes %}
                            <h4>{% trans "Instructions" %}</h4>
                            <p>{{ shipping_address.notes|linebreaks }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endblock shipping_address %}
    </div>

    {% block order_contents %}
        <div class="sub-header">
            <h2 class="text-center">{% trans "Order contents" %}</h2>
        </div>
        <div class="basket-title">
            <div class="row">
                <p class="col-sm-9 h4">{% trans "Item" %}</p>
                <p class="col-sm-1 h4 align-center">{% trans "Quantity" %}</p>
                <p class="col-sm-2 h4 align-right">{% trans "Total" %}</p>
            </div>
        </div>
        {% for line in basket.all_lines %}
            {% purchase_info_for_line request line as session %}
            <div class="basket-items">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="image_container">
                            {% with image=line.product.primary_image %}
                                {% thumbnail image.original "100x100" upscale=False as thumb %}
                                <a href="{{ form.instance.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                                {% endthumbnail %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <h3><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h3>
                        <span class="availability {{ session.availability.code }}">{{ session.availability.message }}</span>
                    </div>
                    <div class="col-sm-1 align-center">
                        {{ line.quantity }}
                    </div>
                    <div class="col-sm-2 align-right">
                        <p class="price_color">
                            {% if not show_tax_separately and line.is_tax_known %}
                                {{ line.line_price_incl_tax|currency:basket.currency }}
                            {% else %}
                                {{ line.line_price_excl_tax|currency:basket.currency }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-sm-12">
                <div class="sub-header">
                    <h2 >{% trans 'Totals' %}</h2>
                </div>
                {% include 'basket/partials/basket_totals.html' %}
                {% block order_contents_actions %}
                <a href="{% url 'basket:summary' %}" class="btn btn-info btn-lg">
                    {% trans "Edit order contents" %}
                </a>
            {% endblock %}
            </div>
        </div>

    {% endblock order_contents %}
    {% block payment_details %}
    {% endblock payment_details %}
    {% block shipping_method %}
    {% endblock shipping_method %}

    {% block place_order %}
    {% endblock place_order %}
</section>
{% endblock content %}
