{% extends "checkout/checkout.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}
{% trans "Checkout gateway" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
{% include 'checkout/nav.html' with step=0 %}
{% endblock %}

{% block content %}
<section class="page-title" style="padding: 47px 0px 114px 0px;">
        <h1 class="text-center">
            {% block checkout_title %}{% trans "Who are you?" %}{% endblock %}
        </h1>
    <div class="container">
        <div class="login-page" style="width: 450px">
            <form action="." method="post" class="form-stacked well">
                {% csrf_token %}
                
                    {% for field in form.non_field_errors %}
                    <p class="bg-warning">{{ field }}</p>
                {% endfor %}

                {% include "partials/form_field.html" with field=form.username %}

                <div class="form-group">
                    <div class="controls">
                        <div class="radio-inline">
                            {{ form.options.0 }}
                        </div>
                    </div>
                </div>

                <div class="form-group {% if form.password.errors %}error{% endif %}">
                    {{ form.options.errors }}
                    <div class="controls">
                        {{ form.options.2 }}
                        <div class="form-inline">
                            {% render_field form.password class+="form-control" placeholder='Enter Password' %}
                            <small>
                                <a class="btn btn-sm btn-primary" href="{% url 'password-reset' %}" tabindex="-1">
                                    {% trans "Forgot Password?" %}
                                </a>
                            </small>
                            {% for error in form.password.errors %}
                            <span class="error-block text-warning">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="controls">
                        {{ form.options.1 }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-lg btn-block btn-primary"
                                data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock content %}

{% block onbodyload %}
{{ block.super }}
oscar.checkout.gateway.init();
{% endblock %}