{% extends 'oscar/checkout/payment_details.html' %}
{% load currency_filters static %}

{% block main-menu %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block head_title %}Enter payment details{% endblock %}
{% block payment_method %}
<div class="col-sm-6 login-page">
		<div class="login-page">
				<form action="{% url 'checkout:preview' %}" class="delivery-form text-center" method="POST" style="margin-bottom:0">
					<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-style="text-align:uppercase"
						data-key="{{ stripe_publishable_key }}" data-amount="{{ order_total_incl_tax_cents }}"
						data-name="{{ shop_name }}"
						data-label="PAY WITH CARD"
						data-allow-remember-me= false
						data-image={% static 'loomcleaners/images/logo/logo.png' %}
						data-description="{{ basket.num_items }} items ({{ order_total.incl_tax|currency }})">
					</script>
				</form>
			</div>
</div>
<div class="col-sm-6">
	<div class="login-page">
		{% include 'basket/partials/basket_quick.html' %}
	</div>
</div>

{% endblock %}
{% block payment_details_content %}
{% endblock %}