{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% blocktrans with number=order.number %}
        Order {{ number }}: confirmation
    {% endblocktrans %} | {{ block.super }}
{% endblock title %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=5 %}
{% endblock %}

{% block checkout_title %}
    {% blocktrans with number=order.number %}
        Order {{ number }}: confirmation
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <section class="container">
    <p class="lead" style="padding-top:100px">
        {% blocktrans with number=order.number %}
        Your order has been placed and a confirmation email has been sent - your order number is
        <strong>{{ number }}</strong>.
        {% endblocktrans %}
        {% trans "Please make a note of this reference or print this page and quote it in any communication with us regarding your order." %}
    </p>
    <p>
            One of our drivers will reach out to you to bring your bag and pick up your first laundry
        </p>

    <div class="row shipping-payment">
        <div class="col-sm-6">
            {% block shipping_info %}
                <div class="sub-header">
                    <h2>{% trans "Pick-up & Deliver" %}</h2>
                </div>
                <div class="delivery-form">
                    <h3>{% trans "Address" %}</h3>
                    {% if order.shipping_address %}
                        <address>
                            {% for field in order.shipping_address.active_address_fields %}
                                {{ field }}<br/>
                            {% endfor %}
                        </address>

                        {% if order.shipping_address.phone_number %}
                            <h4>{% trans "Contact" %}</h4>
                            <p>
                                {% trans "Phone" %}: {{ order.shipping_address.phone_number }}
                                {% if order.guest_email %}
                                    <br/>{% trans "Email" %}: {{ order.guest_email }}
                                {% endif %}
                            </p>
                        {% endif %}

                        {% if order.shipping_address.notes %}
                            <h4>{% trans "Instructions" %}</h4>
                            <p>{{ order.shipping_address.notes|linebreaks }}</p>
                        {% endif %}
                    {% else %}
                        <p>{% trans "No Pick-up & Deliver address required." %}</p>
                    {% endif %}
                </div>

                <div class="delivery-form">
                    <h3>{% trans "Pick-up & Deliver method" %}</h3>
                    <p>Free pickup and delivery</p>
                </div>
            {% endblock %}
        </div>

        <div class="col-sm-6">
            {% block payment_info %}
                <div class="sub-header">
                    <h2>{% trans "Payment" %}</h2>
                </div>
                <div class="delivery-form">
                    <h3>{% trans "Payment" %}</h3>
                    {% for source in order.sources.all %}
                        <p>
                        {% if source.reference %}
                            {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name reference=source.reference %}
                                Allocation of {{ amount }} from card (reference: {{ reference }})
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name %}
                                Allocation of {{ amount }} from card
                            {% endblocktrans %}
                        {% endif %}
                        </p>
                    {% empty %}
                        <p>
                        {% trans "No payment was required for this order." %}
                        </p>
                    {% endfor %}

                    {% if order.billing_address %}
                        <h4>{% trans "Billing address" %}</h4>
                        <address>
                            {% for field in order.billing_address.active_address_fields %}
                                {{ field }}<br/>
                            {% endfor %}
                        </address>
                    {% endif %}
                </div>

            {% endblock %}
        </div>
    </div>

    <div class="sub-header">
        <h2>{% trans "Order contents" %}</h2>
    </div>

    <div class="basket-title">
        <div class="row">
            <p class="col-sm-9 h4">{% trans "Items purchased" %}</p>
            <p class="col-sm-1 h4 align-center">{% trans "Quantity" %}</p>
            <p class="col-sm-2 h4 align-right">{% trans "Total" %}</p>
        </div>
    </div>

    {% for line in order.lines.all %}
        <div class="basket-items">
            <div class="row">
                <div class="col-sm-2">
                    <div class="image_container">
                        {% with image=line.product.primary_image %}
                            {% thumbnail image.original "200x200" upscale=False as thumb %}
                            <a href="{{ line.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                            {% endthumbnail %}
                        {% endwith %}
                    </div>
                </div>
                <div class="col-sm-7 text-center">
                    <h3><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h3>
                    <p>
                    {% if line.upc %}{{ line.upc }}<br/>{% endif %}
                    {% if line.est_dispatch_date %}
                        {% blocktrans with date=line.est_dispatch_date %}
                            Estimated dispatch: <strong>{{ date }}</strong>
                        {% endblocktrans %}
                    {% endif %}
                    </p>
                </div>
                <div class="col-sm-1 align-center">
                    {{ line.quantity }}
                </div>
                <div class="col-sm-2 align-right">
                    <p class="price_color">
                        {% if show_tax_separately %}
                            {{ line.line_price_before_discounts_excl_tax|currency:order.currency }}
                        {% else %}
                            {{ line.line_price_before_discounts_incl_tax|currency:order.currency }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}

    {% block basket_totals %}
        <div class="row">
            <div class="col-sm-6">&nbsp;</div>
            <div class="col-sm-6">
                <div class="sub-header">
                    <h2>{% trans 'Totals' %}</h2>
                </div>

                <div id="basket_totals">
                    <table class="table table-condensed">
                        <tr>
                            <th colspan="2"><h3>{% trans "Basket" %}</h3></th>
                        </tr>
                        {% with discounts=order.basket_discounts %}
                            {% block discount_totals %}
                                {% if discounts %}
                                    <tr>
                                        <td>{% trans "Basket total (before discounts)" %}</td>
                                        <td class="align-right">{{ order.basket_total_before_discounts_incl_tax|currency:order.currency }}</td>
                                    </tr>
                                    {% for discount in discounts %}
                                        <tr>
                                            <td><span class="label label-success">{% trans "Discount" %}</span> {{ discount.offer }}</td>
                                            <td class="align-right">- {{ discount.amount|currency:order.currency }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endblock discount_totals %}

                            {% block basket_total %}
                                {% if discounts %}
                                    <tr>
                                        <th class="total">{% trans "Basket total (after discounts)" %}</th>
                                        <th class="total align-right">{{ order.basket_total_incl_tax|currency:order.currency }}</th>
                                    </tr>
                                {% else %}
                                    <tr class="basket-items">
                                        <th class="total">{% trans "Basket total" %}</th>
                                        <th class="total align-right">
                                            {% if show_tax_separately %}
                                                {{ order.basket_total_excl_tax|currency:order.currency }}
                                            {% else %}
                                                {{ order.basket_total_incl_tax|currency:order.currency }}
                                            {% endif %}
                                        </th>
                                    </tr>
                                {% endif %}
                            {% endblock basket_total %}
                        {% endwith %}

                        {% block shipping_total %}
                            <tr>
                                <th>&nbsp;</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th colspan="2"><h3>{% trans "Pick-up & Deliver" %}</h3></th>
                            </tr>
                            <tr>
                                <td>{% trans "Pick-up & Deliver method" %}</td>
                                <td class="align-right">{{ order.shipping_method }}</td>
                            </tr>
                            {% if order.has_shipping_discounts %}
                                <tr>
                                    <td>{% trans "Pick-up & Deliver charge (before discounts)" %}</td>
                                    <td class="align-right">{{ order.shipping_before_discounts_incl_tax|currency:order.currency }}</td>
                                </tr>
                                {% for discount in order.shipping_discounts %}
                                    <tr>
                                        <td><span class="label label-success">{% trans "Discount" %}</span> {{ discount.offer }}</td>
                                        <td class="align-right">- {{ discount.amount|currency:order.currency }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <th class="total">{% trans "Pick-up & Deliver charge (after discounts)" %}</th>
                                    <th class="total align-right">{{ order.shipping_incl_tax|currency:order.currency }}</th>
                                </tr>
                            {% else %}
                                <tr>
                                    <th class="total">{% trans "Pick-up & Deliver charge" %}</th>
                                    <th class="total align-right">
                                        {% if show_tax_separately %}
                                            {{ order.shipping_excl_tax|currency:order.currency }}
                                        {% else %}
                                            {{ order.shipping_incl_tax|currency:order.currency }}
                                        {% endif %}
                                    </th>
                                </tr>
                            {% endif %}
                        {% endblock shipping_total %}

                        {% if show_tax_separately %}
                            <tr>
                                <th colspan="2">&nbsp;</th>
                            </tr>
                            <tr>
                                <th class="total">{% trans "Order tax" %}</th>
                                <th class="total align-right">
                                    {{ order.total_tax|currency:order.currency }}
                                </th>
                            </tr>
                        {% endif %}

                        {% block post_order_action_totals %}
                            {% with actions=order.post_order_actions %}
                                {% if actions %}
                                    <tr>
                                        <th colspan="2">&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2"><h3>{% trans "Post order actions" %}</h3></th>
                                    </tr>
                                    {% for action in order.post_order_actions %}
                                        <tr>
                                            <td class="total" colspan="2"><p>{{ action.message }}</p></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        {% endblock post_order_action_totals %}

                        {% block order_total %}
                            <tr>
                                <th colspan="2">&nbsp;</th>
                            </tr>
                            <tr>
                                <td class="total"><h3>{% trans "Order total" %}</h3></td>
                                <td class="total align-right"><h3 class="price_color">{{ order.total_incl_tax|currency:order.currency }}</h3></td>
                            </tr>
                        {% endblock order_total %}
                    </table>
                </div>
            </div>
        </div>
    {% endblock basket_totals %}

    {% block order_tracking %}
        {% if not order.user %}
            <div class="sub-header">
                <h2>{% trans "Tracking your order" %}</h2>
            </div>
            <p>{% trans "You can track the status of your order" %}</p>
            <a class="btn btn-primary" href="{% url 'customer:anon-order' order_number=order.number hash=order.verification_hash %}">{% trans "View order status" %}</a>.
        {% endif %}
    {% endblock %}


    {% block order_actions %}
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <p><a onclick="window.print()" href="#" class="btn btn-primary btn-block btn-lg">{% trans "Print this page" %}</a></p>
                </div>
                <div class="col-sm-4 col-sm-offset-4">
                    <p><a href="{{ homepage_url }}" class="btn btn-primary btn-block btn-lg">{% trans "Return Home" %}</a></p>
                </div>
            </div>
        </div>
    {% endblock order_actions %}
</section>
{% endblock content %}

{% block tracking %}
    {% if send_analytics_event %}
        {% include "partials/google_analytics_transaction.html" %}
    {% endif %}
{% endblock %}
{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
    <script>
            fbq('track', 'Purchase', {
            value: 1,
            currency: '$1.00',
            });
            </script>
{% endblock %}
