{% extends "alt_base.html" %}

{% load basket_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}

   <!-- pricing-section -->
   <section id="pricing" class="pricing-section sp-one centred">
    <div class="container">
        <div class="sec-title">We currently serve 159 household in your zipcode</div>
        <div class="title-text h2">Choose your unlimited laundry package below.</div>
        <div class="row">
                    {% if products %}
                    {% for product in products %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            {% render_product product %}
                        </div>
                    {% endfor %}
                    <!-- {% include "partials/pagination.html" %} -->
                {% else %}
                    <p class="nonefound">{% trans "No products found." %}</p>
                {% endif %}
        </div>
    </div>
    {% include 'partials/testimonials.html' %}
{% include 'partials/package_items.html' %}
</section>
<!-- pricing-section -->

{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
