{% extends 'alt_base.html' %}
{% load static %}
{% load basket_tags %}
{% load product_tags %}
{% load i18n %}

{% block content %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel">Frequently Asked Questions</h4>
        </div>
        <div class="modal-body">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Do you offer same day service?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        No, Our Services are as outlined above
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What Days Do You Pick Up and Drop Off?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Pick up Monday:Drop off Wednesday <br>
                        Pick up Tuesday: Drop off Thursday <br>
                        Pick up Wednesday: Dop off Friday <br>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Do You Wash Kids Cloth
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Yes we do if it falls within the packages we currently offer
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="headingFour">
                            What does "environmentally friendly" really mean?
                        </a>
                      </h4>
                    </div>
                    <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                      <div class="panel-body">
                        The chemicals that we use to clean our laundry are non-toxic and biodegradable. They have been proven to be safe for humans and our environment. 
                        They allow your clothes to last longer and smell better compared with Perchloroethylene. 
                      </div>
                    </div>
                  </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="headingFive">
                        Where do you pick up and drop off?
                    </a>
                  </h4>
                </div>
                <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                  <div class="panel-body">
                    We pick up and drop off at your home or office per your choice
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="headingSix">
                        Can I change my pick up and drop off location?
                    </a>
                  </h4>
                </div>
                <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                  <div class="panel-body">
                    Absolutely! Just call : 1(877)646-4339 or email:Support@loomcleaners.com
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading7">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="heading7">
                        Can I cancel my monthly subscription at any time?
                    </a>
                  </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                  <div class="panel-body">
                    Yes, you can cancel before your next month billing rolls in. You are billed on the same day every 4 weeks from the day you order your first unlimited laundry.
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- main slider -->
    <section class="example main-slider">
        <article class="content">
            <div class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" id="rev_slider_486_1_wrapper"
                style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
                <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->


                <div class="rev_slider fullwidthabanner" data-version="5.4.1" id="rev_slider_486_1" style="display:none;">
                    <ul>
                        <!-- SLIDE  -->

                        <!-- SLIDE 1  -->
                        <li data-description="Science says that Women are generally happier" data-easein="default"
                            data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade"
                            data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default"
                            data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5=""
                            data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0"
                            data-saveperformance="off" data-slotamount="default" data-thumb="{% static 'loomcleaners/images/slider/1.jpg' %}"
                            data-title="" data-transition="fade">

                            <!-- MAIN IMAGE -->
                            <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center"
                                data-bgrepeat="no-repeat" data-no-retina="" src="{% static 'loomcleaners/images/slider/1.jpg' %}"> <!-- LAYERS -->



                            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-basealign="slide"
                                data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-height="full" data-hoffset="['0','0','0','0']" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]"
                                data-responsive_offset="on" data-textalign="['left','left','left','left']" data-type="shape"
                                data-voffset="['0','0','0','0']" data-whitespace="normal" data-width="full" data-x="['center','center','center','center']"
                                data-y="['middle','middle','middle','middle']" id="slide-1687-layer-1" style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);border-width:0px;">
                            </div>



                            <div class="tp-caption Newspaper-Title tp-resizeme" data-fontsize="['70','70','70','70']"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                data-height="none" data-hoffset="['35','35','35','35']" data-lineheight="['55','55','55','35']"
                                data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-textalign="['left','left','left','left']"
                                data-type="text" data-voffset="['200','150','120','130']" data-whitespace="normal"
                                data-width="['750','750','750','450']" data-x="['left','left','left','left']" data-y="['247','247','250','200']"
                                id="slide-1687-layer2" style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal;">
                                <div class="title">
                                    <h1 style="color:#fff">Unlimited Weekly Laundry For one simple payment</h1>
                                </div>
                            </div>


                            <div class="tp-caption Newspaper-Title tp-resizeme" data-fontsize="['70','70','70','70']"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                data-height="none" data-hoffset="['35','35','35','35']" data-lineheight="['55','55','55','35']"
                                data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-textalign="['left','left','left','left']"
                                data-type="text" data-voffset="['200','150','120','130']" data-whitespace="normal"
                                data-width="['680','600','600','400']" data-x="['left','left','left','left']" data-y="['383','383','380','400']"
                                id="slide-1687-layer3" style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal;">
                                <div class="text h3" style="text-align:center">
                                    Loom Cleaners Always Provides Hassle Free Door to Door Free Pick-up and Delivers Unlimited Laundry Service
                                </div>
                            </div>



                            <div class="tp-caption Newspaper-Button rev-btn" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                data-height="none" data-hoffset="['35','35','35','35']" data-paddingbottom="[12,12,12,12]"
                                data-paddingleft="[35,35,35,35]" data-paddingright="[35,35,35,35]" data-paddingtop="[12,12,12,12]"
                                data-responsive="off" data-responsive_offset="on" data-textalign="['left','left','left','left']"
                                data-type="button" data-voffset="['400','420','480','450']" data-whitespace="nowrap"
                                data-width="none" data-x="['left','left','left','left']" data-y="['456','456','450','480']"
                                id="slide-1687-layer-4" style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                            </div>
                        </li>
                        <!-- slider 1 end -->


                        <!-- SLIDE 2  -->
                        <li data-description="Every right implies a responsibility." data-easein="default" data-easeout="default"
                            data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default"
                            data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5=""
                            data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0"
                            data-saveperformance="off" data-slotamount="default" data-thumb="{% static 'loomcleaners/images/slider/2.jpg' %}"
                            data-title="" data-transition="fade">

                            <!-- MAIN IMAGE -->
                            <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center"
                                data-bgrepeat="no-repeat" data-no-retina="" src="{% static 'loomcleaners/images/slider/2.jpg' %}"> <!-- LAYERS -->



                            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-basealign="slide"
                                data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-height="full" data-hoffset="['0','0','0','0']" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]"
                                data-responsive_offset="on" data-textalign="['left','left','left','left']" data-type="shape"
                                data-voffset="['0','0','0','0']" data-whitespace="normal" data-width="full" data-x="['center','center','center','center']"
                                data-y="['middle','middle','middle','middle']" id="slide-1688-layer-1" style="z-index: 9;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);border-width:0px;">
                            </div>



                            <div class="tp-caption Newspaper-Title tp-resizeme" data-fontsize="['70','70','70','70']"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                data-height="none" data-hoffset="['35','35','35','35']" data-lineheight="['55','55','55','35']"
                                data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-textalign="['left','left','left','left']"
                                data-type="text" data-voffset="['200','150','120','130']" data-whitespace="normal"
                                data-width="['950','800','700','400']" data-x="['left','left','left','left']" data-y="['274','247','250','200']"
                                id="slide-1688-layer2" style="z-index: 9; min-width: 600px; max-width: 600px; white-space: normal;">
                                <div class="title">
                                    <h1 style="color:#fff">Unlimited Laundry & dry cleaning</h1>
                                </div>
                            </div>


                            <div class="tp-caption Newspaper-Title tp-resizeme" data-fontsize="['70','70','70','70']"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                data-height="none" data-hoffset="['35','35','35','35']" data-lineheight="['55','55','55','35']"
                                data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-textalign="['left','left','left','left']"
                                data-type="text" data-voffset="['200','150','120','130']" data-whitespace="normal"
                                data-width="['720','600','600','400']" data-x="['left','left','left','left']" data-y="['349','370','370','380']"
                                id="slide-1688-layer3" style="z-index: 9; min-width: 600px; max-width: 600px; white-space: normal;">
                                <div class="text">
                                    Loom Cleaners offers quick and reliable unlimited laundry service with Free pick-up and delivery.
                                </div>
                            </div>



                            <div class="tp-caption Newspaper-Button rev-btn" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                data-height="none" data-hoffset="['35','35','35','35']" data-paddingbottom="[12,12,12,12]"
                                data-paddingleft="[35,35,35,35]" data-paddingright="[35,35,35,35]" data-paddingtop="[12,12,12,12]"
                                data-responsive="off" data-responsive_offset="on" data-textalign="['left','left','left','left']"
                                data-type="button" data-voffset="['400','420','480','450']" data-whitespace="nowrap"
                                data-width="none" data-x="['left','left','left','left']" data-y="['422','430','430','460']"
                                id="slide-1688-layer-4" style="z-index: 10; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                            </div>
                        </li>
                        <!-- slider 2 end -->


                        <!-- SLIDE 3  -->
                        <li data-description="Every right implies a responsibility." data-easein="default" data-easeout="default"
                            data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default"
                            data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5=""
                            data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0"
                            data-saveperformance="off" data-slotamount="default" data-thumb="{% static 'loomcleaners/images/slider/3.jpg' %}"
                            data-title="" data-transition="fade">

                            <!-- MAIN IMAGE -->
                            <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center"
                                data-bgrepeat="no-repeat" data-no-retina="" src="{% static 'loomcleaners/images/slider/3.jpg' %}"> <!-- LAYERS -->



                            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-basealign="slide"
                                data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-height="full" data-hoffset="['0','0','0','0']" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]"
                                data-responsive_offset="on" data-textalign="['left','left','left','left']" data-type="shape"
                                data-voffset="['0','0','0','0']" data-whitespace="normal" data-width="full" data-x="['center','center','center','center']"
                                data-y="['middle','middle','middle','middle']" id="slide-1689-layer-1" style="z-index: 9;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);border-width:0px;">
                            </div>



                            <div class="tp-caption Newspaper-Title tp-resizeme" data-fontsize="['70','70','70','70']"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                data-height="none" data-hoffset="['30','30','30','30']" data-lineheight="['55','55','55','35']"
                                data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-textalign="['left','left','left','left']"
                                data-type="text" data-voffset="['200','150','120','130']" data-whitespace="normal"
                                data-width="['900','800','700','400']" data-x="['left','left','left','left']" data-y="['226','247','200','120']"
                                id="slide-1689-layer2" style="z-index: 9; min-width: 600px; max-width: 600px; white-space: normal;">
                                <div class="title">
                                    <h1 style="color:#fff">Loom Cleaners always provide hassle free door step delivery.</h1>
                                </div>
                            </div>


                            <div class="tp-caption Newspaper-Title tp-resizeme" data-fontsize="['70','70','70','70']"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                data-height="none" data-hoffset="['30','30','30','30']" data-lineheight="['55','55','55','35']"
                                data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-textalign="['left','left','left','left']"
                                data-type="text" data-voffset="['200','150','120','130']" data-whitespace="normal"
                                data-width="['700','600','600','400']" data-x="['left','left','left','left']" data-y="['361','375','385','440']"
                                id="slide-1689-layer3" style="z-index: 9; min-width: 600px; max-width: 600px; white-space: normal;">
                                <div class="text h3">
                                    Unlimited Laundry and Cleaning Service
                                </div>
                            </div>



                            <div class="tp-caption Newspaper-Button rev-btn" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                data-height="none" data-hoffset="['30','30','30','30']" data-paddingbottom="[12,12,12,12]"
                                data-paddingleft="[35,35,35,35]" data-paddingright="[35,35,35,35]" data-paddingtop="[12,12,12,12]"
                                data-responsive="off" data-responsive_offset="on" data-textalign="['left','left','left','left']"
                                data-type="button" data-voffset="['400','420','480','450']" data-whitespace="nowrap"
                                data-width="none" data-x="['left','left','left','left']" data-y="['422','430','440','500']"
                                id="slide-1689-layer-4" style="z-index: 10; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                            </div>
                        </li>
                        <!-- slider 3 end -->

                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="height: 5px; background-color: rgba(166, 216, 236, 1.00);">
                    </div>
                </div>
            </div>

        </article>
    </section>
    <!-- main slider end -->


    <!-- working-section -->
    <section class="working-section sp-one centred">
        <div class="container">
            <div class="sec-title">How <span>Loom Cleaners</span> Works</div>
            <div class="title-text">
                We'll Take The Hassle Out Of Your Dry-Cleaning Need So You Can <br> <strong> Focus On What's More Important </strong>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 working-column">
                    <div class="single-working-content">
                        <div class="icon-box">
                            <div class="icon"><i class="flaticon-basket"></i></div>
                        </div>
                        <h3>
                            Order Your Unlimited Laundry
                        </h3>
                        <div class="count-text">1</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 working-column">
                    <div class="single-working-content">
                        <div class="icon-box">
                            <div class="icon"><i class="flaticon-sleeping-bag"></i></div>
                        </div>
                        <h3>
                            Receive Eco-Friendly laundry bag
                        </h3>
                        <div class="count-text">2</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 working-column">
                    <div class="single-working-content">
                        <div class="icon-box">
                            <div class="icon"><i class="flaticon-transport"></i></div>
                        </div>
                        <h3>We pick up your laundry</h3>
                        <div class="count-text">3</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 working-column">
                    <div class="single-working-content">
                        <div class="icon-box">
                            <div class="icon"><i class="flaticon-bed"></i></div>
                        </div>
                        <h3>
                            relax & do what you enjoy most!
                        </h3>
                        <div class="count-text">4</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- working-section end -->

    <!-- testimonial-section -->
        {% include 'partials/testimonials.html' %}
    <!-- testimonial-section end -->
    <div class="blue-main-bg-middle">
        <div class="container">
           <div class="col-md-4 text-center">
              <h1>Get unlimited laundry</h1>
           </div>
           <div class="col-md-4">
              <p style="color:#fff">Customers pay simple flat-rate pricing for laundry and dry cleaning. You will only be charged after an order is placed.
              </p>
           </div>
           <div class="col-md-4">
              <div class="i-right_des">
                 <div>
                    <form class="form-inline" onsubmit="checkRegionCoverage(this, event)">
                        <div class="input-group">
                            <input type="text" id="PickupzipCode" class="form-control input-sm" style="height:34px" placeholder="Enter Zip Code">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Get Started</button>
                            </span>
                        </div>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </div>

    <!-- choose-section -->
    <section class="choose-section sp-one centred">
        <div class="container">
            <div class="sec-title white">Why Choose <span>Loom Cleaners</span></div>
            <div class="title-text white">
                Loom cleaners offer highest quality unlimited laundry and dry cleaning service at an affordable rate.<br> You only pay once a month , we pick up your laundry every-week.
            </div>
            <div class="three-column-carousel owl-nav-none">
                <div class="single-choose-content">
                    <div class="icon-box"><i class="flaticon-clean"></i></div>
                    <h3>Hygienic</h3>
                    <div class="text">
                        <p>No blending of garments. Ultra-clean laundromats with extraordinary bundling to keep up
                            freshness.</p>
                    </div>
                </div>
                <div class="single-choose-content">
                    <div class="icon-box"><i class="flaticon-shipped"></i></div>
                    <h3>Convenience</h3>
                    <div class="text">
                        <p>Save you time and energy.Just book your laundry online and we will pick it up.</p>
                    </div>
                </div>
                <div class="single-choose-content">
                    <div class="icon-box"><i class="flaticon-quality"></i></div>
                    <h3>High Quality</h3>
                    <div class="text">
                        <p>We provide high quality laundry service for Spotless Business Reputation.We serve diverse
                            sectors with quality.</p>
                    </div>
                </div>
                <div class="single-choose-content">
                    <div class="icon-box"><i class="flaticon-clean"></i></div>
                    <h3>Hygienic</h3>
                    <div class="text">
                        <p>No blending of garments. Ultra-clean laundromats with extraordinary bundling to keep up
                            freshness.</p>
                    </div>
                </div>
                <div class="single-choose-content">
                    <div class="icon-box"><i class="flaticon-curriculum-vitae"></i></div>
                    <h3>Professional</h3>
                    <div class="text">
                        <p>Let our Professionals take care of your laundry in our ultra-clean laundry environment</p>
                    </div>
                </div>
                <div class="single-choose-content">
                    <div class="icon-box"><i class="flaticon-washing-machine-for-laundry"></i></div>
                    <h3>Best Equipments</h3>
                    <div class="text">
                        <p>No blending of garments. Each laundry is carefully taken care of with our eco-friendly laundry equipments</p>
                    </div>
                </div>
                <div class="single-choose-content">
                    <div class="icon-box"><i class="flaticon-business"></i></div>
                    <h3>Affordable Pricing</h3>
                    <div class="text">
                        <p>One easy monthly payment for unlimited laundry.</p>
                    </div>
                </div>
                <div class="single-choose-content">
                    <div class="icon-box"><i class="flaticon-shipped"></i></div>
                    <h3>Convenience</h3>
                    <div class="text">
                        <p>Save you time and energy.Just book your unlimted laundry online and we would take care of the rest</p>
                    </div>
                </div>
                <div class="single-choose-content">
                    <div class="icon-box"><i class="flaticon-quality"></i></div>
                    <h3>High Quality</h3>
                    <div class="text">
                        <p>We provide high quality laundry service for Spotless Business Reputation.We serve diverse
                            sectors with quality laundry service.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- choose-section end -->

    <!-- Pickup and delivery -->
    <div id="pickup-n-delivery" class="pickup_and_deliver pd_newhome">
            <div class="pickup_and_deliver_inner pd_newhome_inner">
               <div class="container">
                    <div class="row">
                        <h1 class="text-center" style="padding:50px 0">Where do we <br>pick up and deliver?</h1>
                     <div class="col-md-6 pickup_and_deliver_left pd_newhome_left">
                        <ul class="list-inline" style="display: flex;text-align: -webkit-center;padding-bottom: 25px">
                           <li>
                              <a>
                                 <img class="img-responsive xdimages-item" src="{% static 'loomcleaners/images/home/house_icon_lpv4.png' %}" alt="House icon"><br>
                                 <p>House</p>
                              </a>
                           </li>
                           <li>
                              <a>
                                 <img class="img-responsive xdimages-item" src="{% static 'loomcleaners/images/home/apartment_icon_lpv4.png' %}" alt="Apartment icon"><br>
                                 <p>Apartment</p>
                              </a>
                           </li>
                           <li>
                              <a>
                                 <img class="img-responsive xdimages-item" src="{% static 'loomcleaners/images/home/condo_icon_lpv4.png' %}" alt="Condo icon"><br>
                                 <p>Condo</p>
                              </a>
                           </li>
                           <li>
                              <a>
                                 <img class="img-responsive xdimages-item" src="{% static 'loomcleaners/images/home/business_icon_lpv4.png' %}" alt="Business icon_lpv4"><br>
                                 <p>Office</p>
                              </a>
                           </li>
                        </ul>
                        <p class="newhome_wel" style="padding-bottom: 25px">We come to you, whether it’s your house, apartment, office, or your best friend’s house! Convenience is our middle name. Just specify your location preferences during signup.</p>
                        <div class="new_home_timing">
                           <ul class="list-inline text-center" style="padding-bottom: 25px">
                              <li><strong>Pickups:</strong></li>
                              <li><button class="btn">8:30am</button></li>
                              <li>-</li>
                              <li><button class="btn">12:30pm</button></li>
                              <li>Monday - Friday</li>
                           </ul>
                           <ul class="list-inline text-center" style="padding-bottom: 25px">
                              <li><strong>Deliveries:</strong></li>
                              <li><button class="btn">2:30pm</button></li>
                              <li>-</li>
                              <li><button class="btn">6:30pm</button></li>
                              <li>Monday - Friday</li>
                           </ul>
                        </div>
                        <div class="msd_ne">*All pickups have a standard 2 business day turnaround (e.g pick-up Monday and deliver on Wednesday).  <br>You do not have to be home for pickup or delivery.</div>
                     </div>
                     <div class="col-md-6">
                        <div class="pickup_and_deliver_right_inner">
                           <img class="img-responsive " src="{% static 'loomcleaners/images/home/van.jpg' %}" alt="home-car-banner">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
    </div>
    <!-- Pickup and delivery end -->

    <!-- satisfaction guarantee -->
    <div class="Satisfaction_Guarantee Satisfaction_Guarantee_nh">
            <div class="Satisfaction_Guarantee_inner">
               <div class="container">
                  <div class="row">
                     <div class="col-md-8 Satisfaction_Guarantee_right">
                        <h1>Our promise to you</h1>
                        <p>We’re obsessed with delivering the perfect customer experience, starting <br> with a quality product. If you’re not satisfied, we’re not satisfied. We will<br> re-clean or replace any item or order that doesn’t meet expectations. </p>
                     </div>
                     <div class="col-md-4 Satisfaction_Guarantee_left">
                        <img class="img-responsive" src="{% static 'loomcleaners/images/home/guarantee_stamp.png' %}" alt="Guarantee_stamp"> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
    <!-- satisfaction guarantee end -->
    <!--review-star-con-->
    <div id="reviewsBox" class="star-con review-star-con container">
            <h1 class="text-center">We’re not perfect, but we’re pretty close...</h1>
            <br clear="all">
            <div class="col-md-3 col-xs-12 col-xs-offset-2">
               <img class="star-icon" src="{% static 'loomcleaners/images/home/re-facebook@3x.png' %}" alt="facebook">
               <div class="star_con_single">
                  <p>4.9 out of 5
                     <span>.</span> 
                     86 reviews
                  </p>
               </div>
            </div>
            <div class="col-md-3 col-xs-12 col-xs-offset-2">
               <img class="star-icon" src="{% static 'loomcleaners/images/home/re-google@3x.png' %}" alt="google">
               <div class="star_con_single">
                  <p>4.9 out of 5
                     <span>.</span> 
                     114 reviews
                  </p>
               </div>
            </div>
            <div class="col-md-3 col-xs-12 col-xs-offset-2">
               <img class="star-icon" src="{% static 'loomcleaners/images/home/re-yelp@3x.png' %}" alt="yelp">
               <div class="star_con_single">
                  <p>5 out of 5
                     <span>.</span>
                     111 reviews
                  </p>
               </div>
            </div>
            <div class="col-md-3 col-xs-12 col-xs-offset-2">
               <img class="star-icon" src="{% static 'loomcleaners/images/home/re-nextdoor@3x.png' %}" alt="re-nextdoor">
               <p>117 Recommendations
               </p>
            </div>
         </div>
    <!-- review-star-con end -->

    <!-- service-section -->
    <section id="services" class="service-section centred">
        <div class="container">
            <div class="sec-title">Our <span>Services</span></div>
            <div class="title-text"></div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 service-column">
                    <div class="single-service-content">
                        <div class="single-item-hoverly">
                            <figure class="img-box">
                                <img src="{% static 'loomcleaners/images/service/4.png' %}" alt="">
                                <div class="overlay">

                                </div>
                            </figure>
                            <div class="lower-content">
                                <h3><a href="#">Silk and Suede</a></h3>
                                <div class="text lh-24">Every now and again support, refreshment stains and others like
                                    pen ink engravings could damage your mollified cowhide</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-column">
                    <div class="single-service-content">
                        <div class="single-item-hoverly">
                            <figure class="img-box">
                                <img src="{% static 'loomcleaners/images/service/5.png' %}" alt="">
                                <div class="overlay">

                                </div>
                            </figure>
                            <div class="lower-content">
                                <h3><a href="#">Dry Cleaning</a></h3>
                                <div class="text lh-24">Dry Clean for You in Loom Cleaners is your licensed and certified
                                    dry cleaner, offering dry cleaning pick up and delivery.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-column">
                    <div class="single-service-content">
                        <div class="single-item-hoverly">
                            <figure class="img-box">
                                <img src="{% static 'loomcleaners/images/service/6.png' %}" alt="">
                                <div class="overlay">

                                </div>
                            </figure>
                            <div class="lower-content">
                                <h3><a href="#">Leather Cleaning</a></h3>
                                <div class="text lh-24">Leather garments are a chic addition to any wardrobe. While
                                    they can be pricey, with the right care they can become</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-column">
                    <div class="single-service-content">
                        <div class="single-item-hoverly">
                            <figure class="img-box">
                                <img src="{% static 'loomcleaners/images/service/1.png' %}" alt="">
                                <div class="overlay">

                                </div>
                            </figure>
                            <div class="lower-content">
                                <h3><a href="#">Drapery</a></h3>
                                <div class="text lh-24">Dupioni silk is centuries old and has always remained a
                                    favorite as it offers the intricately woven silk yarns of varying thickness.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-column">
                    <div class="single-service-content">
                        <div class="single-item-hoverly">
                            <figure class="img-box">
                                <img src="{% static 'loomcleaners/images/service/2.png' %}" alt="">
                                <div class="overlay">

                                </div>
                            </figure>
                            <div class="lower-content">
                                <h3><a href="#">Wedding Suits</a></h3>
                                <div class="text lh-24">We know it isn't just your most costly suit yet additionally
                                    the most appreciated suit of all events. Call us and we will pick.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-column">
                    <div class="single-service-content">
                        <div class="single-item-hoverly">
                            <figure class="img-box">
                                <img src="{% static 'loomcleaners/images/service/3.png' %}" alt="">
                                <div class="overlay">

                                </div>
                            </figure>
                            <div class="lower-content">
                                <h3><a href="#">Curtains</a></h3>
                                <div class="text lh-24">The curtains lend a special effect to your tastefully decorated
                                    furnishings and wall paint. Often the first thing everyone.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-section end -->
    <!-- Coverage Map -->
    <section>
        <img src="{% static 'loomcleaners/images/home/map.jpg' %}" alt="" class="img-responsive">
    </section>
    <!-- Coverage map end -->

    <!-- fact-counter -->
    <section id="about" class="fact-counter sp-one centred">
        <div class="container">
            <div class="sec-title white">About <span>Loom Cleaners</span></div>
            <div class="title-text">
                <h4 class="white">
                    Since 1992, Loom Cleaners puts over 27 years of expert care, handling and experience behind every garment.
                    Our award winning facility uses green energy & environmentally friendly processes, providing brighter, fresher
                    and cleaner garments.
                </h4>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 counter-column">
                    <div class="single-counter-content">
                        <article class="column wow fadeIn" data-wow-duration="0ms">
                            <div class="count-outer">
                                <h2 class="count-text white" data-speed="1500" data-stop="748">0</h2>
                            </div>
                            <div class="text">
                                <h4>Business Clients</h4>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 counter-column">
                    <div class="single-counter-content">
                        <article class="column wow fadeIn" data-wow-duration="0ms">
                            <div class="count-outer">
                                <h2 class="count-text white" data-speed="1500" data-stop="200">0</h2>
                            </div>
                            <div class="text">
                                <h4>Household Laundry</h4>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 counter-column">
                    <div class="single-counter-content">
                        <article class="column wow fadeIn" data-wow-duration="0ms">
                            <div class="count-outer">
                                <h2 class="count-text white" data-speed="1500" data-stop="23540">0</h2>
                            </div>
                            <div class="text">
                                <h4>Steam Ironing</h4>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 counter-column">
                    <div class="single-counter-content">
                        <article class="column wow fadeIn" data-wow-duration="0ms">
                            <div class="count-outer">
                                <h2 class="count-text white" data-speed="1500" data-stop="4278">0</h2>
                            </div>
                            <div class="text">
                                <h4>Dry Cleaning</h4>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-4 counter-column">
                    <div class="single-counter-content">
                        <article class="column wow fadeIn" data-wow-duration="0ms">
                            <div class="count-outer">
                                <h2 class="count-text white" data-speed="1500" data-stop="948">0</h2>
                            </div>
                            <div class="text text-capitalize">
                                <h4>customers served in 2019</h4>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fact-counter end -->


    <!-- help-section -->
    <section class="help-section centred">
        <div class="container">
            <div class="sec-title">Need More <span>Help</span></div>
            <div class="title-text">
                In the event that you have a special laundry and dry-cleaning request or needing specialized standard Laundry and Dry Cleaning Service contact us today at : support@loomcleaners.com or call us : (877)-646-4339
            </div>
            <div class="three-column-carousel owl-dots-none">
                <div class="single-help-content first-column">
                    <div class="top-content">
                        <div class="icon-box"><i class="fa fa-clock-o"></i></div>
                        <h3>Trading hours</h3>
                    </div>
                    <div class="bottom-content text-left">
                        <div class="text">Monday - Friday : 8:00 am to 6:00pm</div>
                        <div class="text">Saturday : 9:00 am to 6:00pm</div>
                        <div class="text">Sunday : Close</div>
                    </div>
                </div>
                <div class="single-help-content second-column">
                    <div class="top-content">
                        <h3>Call us</h3>
                    </div>
                    <div class="text">Any time during business hours if you want to get your clothes cleaned,quickly</div>
                    <div class="call">(877)-646-4339</div>
                    <div class="skype"><a href="#"><i class="fa fa-skype"></i></a></div>
                </div>
                <div class="single-help-content third-column">
                    <div class="top-content">
                        <div class="icon-box"><i class="flaticon-shipped"></i></div>
                        <h3>Unlimited Laundry</h3>
                    </div>
                    <div class="text">Customers no longer have to worry about going to the laundromat, buying
                        detergent, finding enough quarters, and killing time waiting for everything to finish. Simply order your unlimited laundry and leave the rest to us</div>
                    <div class="call">(877)-646-4339</div>
                </div>
                <div class="single-help-content fifth-column">
                    <div class="top-content text-left">
                        <div class="icon-box"><i class="fa fa-question-circle"></i></div>
                        <h3>See our FAQs</h3>
                    </div>
                    <div class="text">See answers to questionson how to get our services </div>
                    <div class="button" data-toggle="modal" data-target="#myModal"><a href="#">FAQ</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- help-section end -->

    {% endblock content %}