<div class="price-content text-center">
        <div class="price-list price-list-one">
            <div class="single-price">
                <div class="view-content">
                    <div class="icon-box"><i class="flaticon-jacket"></i></div>
                    <div class="name"><h4>Coat</h4></div>
                </div>
                <div class="hidden-content">
                    <div class="name"><h4>Coat</h4></div>
                    <div class="icon-box"><i class="flaticon-jacket"></i></div>
                    <div class="price">Wash-Unlimited<br>Wash &amp; Iron-Unlimited</div>
                </div>
            </div>
            <div class="single-price">
                <div class="view-content">
                    <div class="icon-box"><i class="flaticon-shirt"></i></div>
                    <div class="name"><h4>Jackets</h4></div>
                </div>
                <div class="hidden-content">
                    <div class="name"><h4>Jackets</h4></div>
                    <div class="icon-box"><i class="flaticon-shirt"></i></div>
                    <div class="price">Wash-Unlimited<br>Wash &amp; Iron-Unlimited</div>
                </div>
            </div>
            <div class="single-price">
                <div class="view-content">
                    <div class="icon-box"><i class="flaticon-jacket"></i></div>
                    <div class="name"><h4>Jackets</h4></div>
                </div>
                <div class="hidden-content">
                    <div class="name"><h4>Jackets</h4></div>
                    <div class="icon-box"><i class="flaticon-jacket-1"></i></div>
                    <div class="price">Wash-Unlimited<br>Wash &amp; Iron-Unlimited</div>
                </div>
            </div>
            <div class="single-price">
                <div class="view-content">
                    <div class="icon-box"><i class="flaticon-jacket-1"></i></div>
                    <div class="name"><h4>Kids Wear</h4></div>
                </div>
                <div class="hidden-content">
                    <div class="name"><h4>Kids Wear</h4></div>
                    <div class="icon-box"><i class="flaticon-baby-dress"></i></div>
                    <div class="price">Wash-Unlimited<br>Wash &amp; Iron-Unlimited</div>
                </div>
            </div>
            <div class="single-price">
                <div class="view-content">
                    <div class="icon-box"><i class="flaticon-shorts"></i></div>
                    <div class="name"><h4>Shorts</h4></div>
                </div>
                <div class="hidden-content">
                    <div class="name"><h4>Shorts</h4></div>
                    <div class="icon-box"><i class="flaticon-shorts"></i></div>
                    <div class="price">Wash-Unlimited<br>Wash &amp; Iron-Unlimited</div>
                </div>
            </div>
        </div>
        <div class="price-list price-list-two">
            <div class="single-price">
                <div class="view-content">
                    <div class="icon-box"><i class="flaticon-fashion-1"></i></div>
                    <div class="name"><h4>Tie</h4></div>
                </div>
                <div class="hidden-content">
                    <div class="name"><h4>Tie</h4></div>
                    <div class="icon-box"><i class="flaticon-fashion-1"></i></div>
                    <div class="price">Wash-Unlimited<br>Wash &amp; Iron-Unlimited</div>
                </div>
            </div>
            <div class="single-price">
                <div class="view-content">
                    <div class="icon-box"><i class="flaticon-theatre-curtains"></i></div>
                    <div class="name"><h4>Curtains</h4></div>
                </div>
                <div class="hidden-content">
                    <div class="name"><h4>Curtains</h4></div>
                    <div class="icon-box"><i class="flaticon-theatre-curtains"></i></div>
                    <div class="price">Wash-Unlimited<br>Wash &amp; Iron-Unlimited</div>
                </div>
            </div>
            <div class="single-price">
                <div class="view-content">
                    <div class="icon-box"><i class="flaticon-bed"></i></div>
                    <div class="name"><h4>Bed Cover</h4></div>
                </div>
                <div class="hidden-content">
                    <div class="name"><h4>Bed Cover</h4></div>
                    <div class="icon-box"><i class="flaticon-bed"></i></div>
                    <div class="price">Wash-Unlimited<br>Wash &amp; Iron-Unlimited</div>
                </div>
            </div>
            <div class="single-price">
                <div class="view-content">
                    <div class="icon-box"><i class="flaticon-sleeping-bag"></i></div>
                    <div class="name"><h4>Sleeping Bed</h4></div>
                </div>
                <div class="hidden-content">
                    <div class="name"><h4>Sleeping Bed</h4></div>
                    <div class="icon-box"><i class="flaticon-sleeping-bag"></i></div>
                    <div class="price">Wash-Unlimited<br>Wash &amp; Iron-Unlimited</div>
                </div>
            </div>
            <div class="single-price">
                <div class="view-content">
                    <div class="icon-box"><i class="flaticon-blanket"></i></div>
                    <div class="name"><h4>Blanket</h4></div>
                </div>
                <div class="hidden-content">
                    <div class="name"><h4>Blanket</h4></div>
                    <div class="icon-box"><i class="flaticon-blanket"></i></div>
                    <div class="price">Wash-Unlimited<br>Wash &amp; Iron-Unlimited</div>
                </div>
            </div>
        </div>
        <div class="price-list price-list-three">
            <div class="single-price">
                <div class="view-content">
                    <div class="icon-box"><i class="flaticon-dress"></i></div>
                    <div class="name"><h4>Wedding Dress</h4></div>
                </div>
                <div class="hidden-content">
                    <div class="name"><h4>Wedding Dress</h4></div>
                    <div class="icon-box"><i class="flaticon-dress"></i></div>
                    <div class="price">Wash-Unlimited<br>Wash &amp; Iron-Unlimited</div>
                </div>
            </div>
            <div class="single-price">
                <div class="view-content">
                    <div class="icon-box"><i class="flaticon-fashion"></i></div>
                    <div class="name"><h4>Hat</h4></div>
                </div>
                <div class="hidden-content">
                    <div class="name"><h4>Hat</h4></div>
                    <div class="icon-box"><i class="flaticon-fashion"></i></div>
                    <div class="price">Wash-Unlimited<br>Wash &amp; Iron-Unlimited</div>
                </div>
            </div>
            <div class="single-price">
                <div class="view-content">
                    <div class="icon-box"><i class="flaticon-skirt"></i></div>
                    <div class="name"><h4>Skirts</h4></div>
                </div>
                <div class="hidden-content">
                    <div class="name"><h4>Skirts</h4></div>
                    <div class="icon-box"><i class="flaticon-skirt"></i></div>
                    <div class="price">Wash-Unlimited<br>Wash &amp; Iron-Unlimited</div>
                </div>
            </div>
            <div class="single-price">
                <div class="view-content">
                    <div class="icon-box"><i class="flaticon-jeans"></i></div>
                    <div class="name"><h4>Pants</h4></div>
                </div>
                <div class="hidden-content">
                    <div class="name"><h4>Pants</h4></div>
                    <div class="icon-box"><i class="flaticon-jeans"></i></div>
                    <div class="price">Wash-Unlimited<br>Wash &amp; Iron-Unlimited</div>
                </div>
            </div>
            <div class="single-price">
                <div class="view-content">
                    <div class="icon-box"><i class="flaticon-life-vest"></i></div>
                    <div class="name"><h4>Vest</h4></div>
                </div>
                <div class="hidden-content">
                    <div class="name"><h4>Vest</h4></div>
                    <div class="icon-box"><i class="flaticon-life-vest"></i></div>
                    <div class="price">Wash-Unlimited<br>Wash &amp; Iron-Unlimited</div>
                </div>
            </div>
        </div>
    </div>