{% load static %}
{% load basket_tags %}
{% load product_tags %}
{% load i18n %}

<section class="testimonial-section overlay-bg centred">
        <div class="container">
            <div class="sec-title white">Client <span>Testimonials</span></div>
            <div class="title-text white">Customer Satisfaction Drives Us</div>
            <div class="three-column-carousel owl-nav-none">
                <div class="single-testimonial-content">
                    <div class="img-box">
                        <figure><img class="img-circle" style="height:70px" src="{% static 'loomcleaners/images/home/Happy-Family-2.jpg' %}" alt=""></figure>
                    </div>
                    <h4>Mitchell</h4>
                    <div class="title">Heights, Houston</div>
                    <div>
                        <p>
                            Our family use Loomcleaners for all our laundry and it has been a big relief.Great customer service! Efficient and friendly. I started using them few month ago  they went above and beyond to deliver.
                        </p>
                    </div>
                </div>
                <div class="single-testimonial-content">
                    <div class="img-box">
                        <figure><img class="img-circle" style="height:70px"  src="{% static 'loomcleaners/images/home/1.webp' %}" alt=""></figure>
                    </div>
                    <h4>Wade</h4>
                    <div class="title">Missouri City, Tx</div>
                    <div>
                        <p>
                            The best service in the Houston metropolitan area. We moved away from Katy and never knew hope good we had it with Loom Cleaners until we had to try other businesses. If you are fortunate enough to live around this is your go to spot. Professional and friendly a staff and super high standard of service
                        </p>
                    </div>
                </div>
                <div class="single-testimonial-content">
                    <div class="img-box">
                        <figure><img src="{% static 'loomcleaners/images/home/t3.png' %}" alt=""></figure>
                    </div>
                    <h4>Din Rechard</h4>
                    <div class="title">Hotel Manager</div>
                    <div>
                        <p>These guys are the greatest! My favorite coat was stained and I needed back for my job
                            interview on the next day. As they promised I got my coat on time.</p>
                    </div>
                </div>
                <div class="single-testimonial-content">
                    <div class="img-box">
                        <figure><img src="{% static 'loomcleaners/images/home/t1.png' %}" alt=""></figure>
                    </div>
                    <h4>Michel jordan</h4>
                    <div class="title">Bank Manager</div>
                    <div>
                        <p>I am highly impressed by the professionalism these young guys have demonstrated. They not
                            only picked it from my doorstep but also delivered it within the given time.</p>
                    </div>
                </div>
                <div class="single-testimonial-content">
                    <div class="img-box">
                        <figure><img src="{% static 'loomcleaners/images/home/t2.png' %}" alt=""></figure>
                    </div>
                    <h4>Hannh kobel</h4>
                    <div class="title">House Wife</div>
                    <div>
                        <p>Very good service! Always polite and quick turn around between pick up and drop off! Would
                            definitely recommend!</p>
                    </div>
                </div>
                <div class="single-testimonial-content">
                    <div class="img-box">
                        <figure><img src="{% static 'loomcleaners/images/home/t3.png' %}" alt=""></figure>
                    </div>
                    <h4>Din Rechard</h4>
                    <div class="title">Hotel Manager</div>
                    <div>
                        <p>These guys are the greatest! My favorite coat was stained and I needed back for my job
                            interview on the next day. As they promised I got my coat on time.</p>
                    </div>
                </div>
                <div class="single-testimonial-content">
                    <div class="img-box">
                        <figure><img src="{% static 'loomcleaners/images/home/t1.png' %}" alt=""></figure>
                    </div>
                    <h4>Michel jordan</h4>
                    <div class="title">Bank Manager</div>
                    <div>
                        <p>I am highly impressed by the professionalism these young guys have demonstrated. They not
                            only picked it from my doorstep but also delivered it within the given time.</p>
                    </div>
                </div>
                <div class="single-testimonial-content">
                    <div class="img-box">
                        <figure><img src="{% static 'loomcleaners/images/home/t2.png' %}" alt=""></figure>
                    </div>
                    <h4>Hannh kobel</h4>
                    <div class="title">House Wife</div>
                    <div>
                        <p>Very good service! Always polite and quick turn around between pick up and drop of! Would
                            definitely recommend!</p>
                    </div>
                </div>
                <div class="single-testimonial-content">
                    <div class="img-box">
                        <figure><img src="{% static 'loomcleaners/images/home/t3.png' %}" alt=""></figure>
                    </div>
                    <h4>Din Rechard</h4>
                    <div class="title">Hotel Manager</div>
                    <div>
                        <p>These guys are the greatest! My favorite coat was stained and I needed back for my job
                            interview on the next day. As they promised I got my coat on time.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>