{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}
{% load currency_filters %}

{% block product %}
    <div class="single-service-content {% if product.is_discountable %} popular {% endif %}">
            {% if product.is_discountable %}
            <div class="ribbon-wrapper">
                <div class="glow">&nbsp;</div>
            <div class="ribbon-front text-uppercase">
                Most Popular
            </div>
            <div class="ribbon-edge-topleft"></div>
            <div class="ribbon-edge-topright"></div>
            <div class="ribbon-edge-bottomleft"></div>
            <div class="ribbon-edge-bottomright"></div>
            </div>
                {% endif %}
            <div class="single-item-hoverly">
                    <a href="{{ product.get_absolute_url }}">
                    <figure class="img-box">
                            {% with image=product.primary_image %}
                            {% thumbnail image.original "440x400" upscale=False as thumb %}
                                <img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                            {% endthumbnail %}
                        {% endwith %}
                    </figure>
                </a>
                    <div class="" style="background-color: rgba(158, 158, 158, 0.30980392156862746);">
                        <h3 style="border-bottom: 1px solid white;" class="text-capitalize">
                            <a href="{{ product.get_absolute_url }}" class="btn btn-primary btn-block">
                                {{ product.get_title|truncatewords:4}}
                            </a>
                        </h3>
                        <div class="text lh-24">
                                {% block product_price %}
                                {% include "catalogue/partials/stock_record.html" %}
                            {% endblock %}
                            <p>{{ product.description|default:""|striptags }} </p>
                            {% if not product.is_parent and not product.has_options %}
                            <div class="pricing-btn">
                                {% include "catalogue/partials/add_to_basket_form_compact.html" %}
                            </div>
                            {% endif %}
                            {% if product.is_discountable %}
                                <table class="table table-striped">
                                {% for av in product.attribute_values.all %}
                                    <tr class="single-pricing-content">
                                        {% if not av.attribute.name|lower == 'quantity' and av.value is True %}
                                        <th class="text-capitalize">{{ av.attribute.name }}</th>
                                        <td class="text-capitalize check" style="float:right;border-top: 0;"></td>
                                        {% elif av.value %}
                                        <th class="text-uppercase">{{ av.attribute.name }}</th>
                                        <td class="text-capitalize text-right">{{av.value}}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </table>
                            {% else %}
                            <table class="table table-striped">
                            {% for av in product.attribute_values.all %}
                                <tr class="single-pricing-content">
                                    {% if av.value is True %}
                                    <th class="text-capitalize check" style="padding-left: 20px;">{{ av.attribute.name }}</th>
                                    <td class="text-capitalize text-right">unlimited</td>
                                    {% elif av.value %}
                                    <th class="text-capitalize check" style="padding-left: 20px;">{{ av.attribute.name }}</th>
                                    <td class="text-capitalize text-right">{{av.value}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
    </div>
{% endblock %}
