{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags reverse_discount_tag %}

{% purchase_info_for_product request product as session %}

{% if session.price.exists %}
    {% if session.price.excl_tax == 0 %}
        <p class="title">
            <h3>{% trans "Free" %}</h3>
        </p>
    {% elif session.price.is_tax_known %}
        <p class="title">
                <strike>
                    {% with session.price.incl_tax as price_incl_tax %}
                        ${% reverse_discount price_incl_tax %}
                    {% endwith %}
                    </strike>
            <h3>{{ session.price.incl_tax|currency:session.price.currency }}/Month</h3>
        </p>
    {% else %}
        <p class="title">
                <strike>
                        {% with session.price.excl_tax as price_excl_tax %}
                            ${% reverse_discount price_incl_tax %}
                        {% endwith %}
                        </strike>
            <h3>{{ session.price.excl_tax|currency:session.price.currency }}/Month</h3>
        </p>
    {% endif %}
{% else %}
    <p class="title">&nbsp;</p>
{% endif %}
<!-- <p class="{{ session.availability.code }} availability">
    <i class="icon-{% if session.availability.is_available_to_buy %}ok{% else %}remove{% endif %}"></i>
    {% if verbose %}
        {{ session.availability.message }}
    {% else %}
        {{ session.availability.short_message }}
    {% endif %}
</p> -->
