{% extends "alt_base.html" %}

{% load i18n %}

{% block title %}
{% trans 'Register' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
    </li>
    <li class="active">{% trans 'Register' %}</li>
</ul>
{% endblock %}

{% block headertext %}
{% trans "Register" %}
{% endblock %}

{% block content %}
<section class="page-title" style="padding: 47px 0px 114px 0px;">
    <h2 class="text-center">Create Account</h2>
    <div class="container">
        <div class="login-page">
            <form id="register_form" action="." method="post" class="form-stacked well">
                {% csrf_token %}
                {% include "partials/form_fields.html"  %}
                <button name="registration_submit" type="submit" value="Register" 
                    class="btn btn-primary btn-lg"
                    data-loading-text="{%trans 'Registering...' %}"
                >
                    {% trans 'Register' %}
                </button>
                {% if cancel_url %}
                <a class="pull-right" href="{{ cancel_url }}">{% trans "cancel" %}</a>
                {% endif %}
            </form>
        </div>
    </div>
</section>
{% endblock content %}